
@font-face {

}

.footer-contacts-phone { 
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.about-text {
    color: #000000;
    text-decoration: none;
}

.sort-button {
    color: #000000;
    text-decoration: none;
}
