
@font-face {

font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("fonts/ptsans-400.woff2") format("woff2");
font-display: swap;

}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 24px;
    color: black;
    background-color: #ffffff;
}

.button-link-nav {
    padding-right: 260px;
}

.page-header {
 color: black;
 background-color: #ffffff;
}

.product-card-link {
    text-decoration: none;
    color: black;
}

.pagination-show-more {
    text-transform: uppercase;
}

.product-card-button {
    text-decoration: none;
    color: black;
}

.rating-pic {
    text-transform: uppercase;
}

.navigation-link {
 font-family: "PT Sans";
 font-style: bold;
 font-size: 20px;
 line-height: 26px;
 color: black;
 text-decoration: none;
 align: left;
 vertical-align: top;
}

.navigation-user-link {
    font-family: "PT Sans";
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.navigation-link-button {
    font-family: "PT Sans";
    line-height: 24px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.main-index {
    background-image: url("images/images/sedona-background.jpg");
    color: black;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

.introduction-header {
font-family: "PT Sans";
font-size: bold;
text-decoration: none;
text-transform: uppercase;
}

.causes-title {
    font-family: "PT Sans";
    font-size: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.contacts-main-white{
    font-family: "PT Sans";
    font-size: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.email-main-date {
    font-family: "PT Sans";
    text-transform: uppercase; 
}

.contacrs-main-white-mini {
    font-family: "PT Sans";
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    align: center;
    vertical-align: top;
}

.footer-contacts-phone {
font-family: "PT Sans";
font-style: normal;
font-size: 40px;
line-height: 40px;
align: center;
text-decoration: none;
color: black;
}

.about-text {
color: black;
text-decoration: none;
}

.sort-button {
    color: black;
    text-decoration: none; 
}